@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
/* line 19, ../sass/simple-grid.scss */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

/* line 29, ../sass/simple-grid.scss */
* {
  font-family: "Lato", Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
}

/* line 37, ../sass/simple-grid.scss */
h1 {
  font-size: 2.5rem;
}

/* line 41, ../sass/simple-grid.scss */
h2 {
  font-size: 2rem;
}

/* line 45, ../sass/simple-grid.scss */
h3 {
  font-size: 1.375rem;
}

/* line 49, ../sass/simple-grid.scss */
h4 {
  font-size: 1.125rem;
}

/* line 53, ../sass/simple-grid.scss */
h5 {
  font-size: 1rem;
}

/* line 57, ../sass/simple-grid.scss */
h6 {
  font-size: 0.875rem;
}

/* line 61, ../sass/simple-grid.scss */
p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

/* line 67, ../sass/simple-grid.scss */
.font-light {
  font-weight: 300;
}

/* line 71, ../sass/simple-grid.scss */
.font-regular {
  font-weight: 400;
}

/* line 75, ../sass/simple-grid.scss */
.font-heavy {
  font-weight: 700;
}

/* line 81, ../sass/simple-grid.scss */
.left {
  text-align: left;
}

/* line 85, ../sass/simple-grid.scss */
.right {
  text-align: right;
}

/* line 89, ../sass/simple-grid.scss */
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* line 95, ../sass/simple-grid.scss */
.justify {
  text-align: justify;
}

/* line 99, ../sass/simple-grid.scss */
.hidden-sm {
  display: none;
}

/* line 111, ../sass/simple-grid.scss */
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 33.75em) {
  /* line 111, ../sass/simple-grid.scss */
  .container {
    width: 80%;
  }
}
@media only screen and (min-width: 60em) {
  /* line 111, ../sass/simple-grid.scss */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

/* line 126, ../sass/simple-grid.scss */
.row {
  position: relative;
  width: 100%;
}

/* line 131, ../sass/simple-grid.scss */
.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

/* line 137, ../sass/simple-grid.scss */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* line 154, ../sass/simple-grid.scss */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

/* line 158, ../sass/simple-grid.scss */
.col-1-sm {
  width: 4.33333%;
}

/* line 159, ../sass/simple-grid.scss */
.col-2-sm {
  width: 12.66667%;
}

/* line 160, ../sass/simple-grid.scss */
.col-3-sm {
  width: 21%;
}

/* line 161, ../sass/simple-grid.scss */
.col-4-sm {
  width: 29.33333%;
}

/* line 162, ../sass/simple-grid.scss */
.col-5-sm {
  width: 37.66667%;
}

/* line 163, ../sass/simple-grid.scss */
.col-6-sm {
  width: 46%;
}

/* line 164, ../sass/simple-grid.scss */
.col-7-sm {
  width: 54.33333%;
}

/* line 165, ../sass/simple-grid.scss */
.col-8-sm {
  width: 62.66667%;
}

/* line 166, ../sass/simple-grid.scss */
.col-9-sm {
  width: 71%;
}

/* line 167, ../sass/simple-grid.scss */
.col-10-sm {
  width: 79.33333%;
}

/* line 168, ../sass/simple-grid.scss */
.col-11-sm {
  width: 87.66667%;
}

/* line 169, ../sass/simple-grid.scss */
.col-12-sm {
  width: 96%;
}

@media only screen and (min-width: 45em) {
  /* line 172, ../sass/simple-grid.scss */
  .col-1 {
    width: 4.33333%;
  }

  /* line 173, ../sass/simple-grid.scss */
  .col-2 {
    width: 12.66667%;
  }

  /* line 174, ../sass/simple-grid.scss */
  .col-3 {
    width: 21%;
  }

  /* line 175, ../sass/simple-grid.scss */
  .col-4 {
    width: 29.33333%;
  }

  /* line 176, ../sass/simple-grid.scss */
  .col-5 {
    width: 37.66667%;
  }

  /* line 177, ../sass/simple-grid.scss */
  .col-6 {
    width: 46%;
  }

  /* line 178, ../sass/simple-grid.scss */
  .col-7 {
    width: 54.33333%;
  }

  /* line 179, ../sass/simple-grid.scss */
  .col-8 {
    width: 62.66667%;
  }

  /* line 180, ../sass/simple-grid.scss */
  .col-9 {
    width: 71%;
  }

  /* line 181, ../sass/simple-grid.scss */
  .col-10 {
    width: 79.33333%;
  }

  /* line 182, ../sass/simple-grid.scss */
  .col-11 {
    width: 87.66667%;
  }

  /* line 183, ../sass/simple-grid.scss */
  .col-12 {
    width: 96%;
  }

  /* line 185, ../sass/simple-grid.scss */
  .hidden-sm {
    display: block;
  }
}
