@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700&amp;subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400&amp;subset=latin-ext);
/* line 8, ../sass/base/normalize.scss */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

/* line 18, ../sass/base/normalize.scss */
* {
  font-family: "Playfair Display", Georgia, serif;
  color: #626262;
  line-height: 1.5;
}

/* line 25, ../sass/base/normalize.scss */
img {
  width: 100%;
  height: auto;
}

/* line 32, ../sass/base/normalize.scss */
h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

/* line 37, ../sass/base/normalize.scss */
h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  font-weight: 400;
}

/* line 44, ../sass/base/normalize.scss */
h3 {
  font-size: 1.375rem;
  font-weight: 400;
}

/* line 49, ../sass/base/normalize.scss */
h4 {
  font-size: 1.125rem;
  font-weight: 400;
}

/* line 54, ../sass/base/normalize.scss */
h5 {
  font-size: 1rem;
  font-weight: 400;
}

/* line 59, ../sass/base/normalize.scss */
h6 {
  font-size: 0.875rem;
  font-weight: 400;
}

/* line 64, ../sass/base/normalize.scss */
p {
  font-size: 0.9rem;
  font-weight: 200;
  line-height: 1.7;
}

/* line 9, ../sass/layout/simple-grid.scss */
.layout-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 33.75em) {
  /* line 9, ../sass/layout/simple-grid.scss */
  .layout-container {
    width: 80%;
  }
}
@media only screen and (min-width: 60em) {
  /* line 9, ../sass/layout/simple-grid.scss */
  .layout-container {
    width: 75%;
    max-width: 60rem;
  }
}

/* line 24, ../sass/layout/simple-grid.scss */
.row {
  position: relative;
  width: 100%;
}

/* line 29, ../sass/layout/simple-grid.scss */
.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

/* line 35, ../sass/layout/simple-grid.scss */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* line 52, ../sass/layout/simple-grid.scss */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

/* line 56, ../sass/layout/simple-grid.scss */
.col-1-sm {
  width: 4.33333%;
}

/* line 57, ../sass/layout/simple-grid.scss */
.col-2-sm {
  width: 12.66667%;
}

/* line 58, ../sass/layout/simple-grid.scss */
.col-3-sm {
  width: 21%;
}

/* line 59, ../sass/layout/simple-grid.scss */
.col-4-sm {
  width: 29.33333%;
}

/* line 60, ../sass/layout/simple-grid.scss */
.col-5-sm {
  width: 37.66667%;
}

/* line 61, ../sass/layout/simple-grid.scss */
.col-6-sm {
  width: 46%;
}

/* line 62, ../sass/layout/simple-grid.scss */
.col-7-sm {
  width: 54.33333%;
}

/* line 63, ../sass/layout/simple-grid.scss */
.col-8-sm {
  width: 62.66667%;
}

/* line 64, ../sass/layout/simple-grid.scss */
.col-9-sm {
  width: 71%;
}

/* line 65, ../sass/layout/simple-grid.scss */
.col-10-sm {
  width: 79.33333%;
}

/* line 66, ../sass/layout/simple-grid.scss */
.col-11-sm {
  width: 87.66667%;
}

/* line 67, ../sass/layout/simple-grid.scss */
.col-12-sm {
  width: 96%;
}

@media only screen and (min-width: 45em) {
  /* line 70, ../sass/layout/simple-grid.scss */
  .col-1 {
    width: 4.33333%;
  }

  /* line 71, ../sass/layout/simple-grid.scss */
  .col-2 {
    width: 12.66667%;
  }

  /* line 72, ../sass/layout/simple-grid.scss */
  .col-3 {
    width: 21%;
  }

  /* line 73, ../sass/layout/simple-grid.scss */
  .col-4 {
    width: 29.33333%;
  }

  /* line 74, ../sass/layout/simple-grid.scss */
  .col-5 {
    width: 37.66667%;
  }

  /* line 75, ../sass/layout/simple-grid.scss */
  .col-6 {
    width: 46%;
  }

  /* line 76, ../sass/layout/simple-grid.scss */
  .col-7 {
    width: 54.33333%;
  }

  /* line 77, ../sass/layout/simple-grid.scss */
  .col-8 {
    width: 62.66667%;
  }

  /* line 78, ../sass/layout/simple-grid.scss */
  .col-9 {
    width: 71%;
  }

  /* line 79, ../sass/layout/simple-grid.scss */
  .col-10 {
    width: 79.33333%;
  }

  /* line 80, ../sass/layout/simple-grid.scss */
  .col-11 {
    width: 87.66667%;
  }

  /* line 81, ../sass/layout/simple-grid.scss */
  .col-12 {
    width: 96%;
  }

  /* line 83, ../sass/layout/simple-grid.scss */
  .hidden-sm {
    display: block;
  }
}
/*global*/
/* line 2, ../sass/layout/layout.scss */
.layout-content {
  margin-top: 115px;
}

/*global END*/
/*header*/
/* line 9, ../sass/layout/layout.scss */
header {
  padding: 0 7rem;
  overflow: hidden;
  margin: 0 auto;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 999;
  height: 130px;
  transition: 0.5s;
  background: top #fff;
}
/* line 21, ../sass/layout/layout.scss */
header.highlight {
  background: whitesmoke;
}
/* line 26, ../sass/layout/layout.scss */
header .block-system-branding-block {
  float: left;
  margin: 58px 0 0 0;
  padding: 10px;
}
/* line 33, ../sass/layout/layout.scss */
header nav {
  float: right;
}
/* line 36, ../sass/layout/layout.scss */
header nav .menu {
  float: right;
  margin: 65px 0 0 0;
}
/* line 40, ../sass/layout/layout.scss */
header nav .menu .menu-item {
  display: inline-block;
  margin: 0 0 0 100px;
  text-align: center;
}

@media (max-width: 990px) {
  /* line 54, ../sass/layout/layout.scss */
  header {
    padding: 0 10%;
    height: 80px;
    background: whitesmoke;
  }
  /* line 59, ../sass/layout/layout.scss */
  header .block-system-branding-block {
    float: left;
    margin: 20px 0 0 0;
  }
  /* line 65, ../sass/layout/layout.scss */
  header nav .menu {
    margin: 27px 0 0 0;
  }
  /* line 68, ../sass/layout/layout.scss */
  header nav .menu .menu-item {
    margin: 0 0 0 80px;
  }
}
@media (max-width: 768px) {
  /* line 82, ../sass/layout/layout.scss */
  header nav .menu .menu-item {
    margin: 0 0 0 45px;
  }
}
/*header END*/
/*frontpage*/
/* line 99, ../sass/layout/layout.scss */
.path-frontpage .view-display-id-page_front .view-content {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
/* line 105, ../sass/layout/layout.scss */
.path-frontpage .view-display-id-page_front .view-content .views-row {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 990px) {
  /* line 105, ../sass/layout/layout.scss */
  .path-frontpage .view-display-id-page_front .view-content .views-row {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/*frontpage END*/
/*nodes*/
/* line 134, ../sass/layout/layout.scss */
body.path-news main,
body.path-node main,
body.path-contact main {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
/* line 140, ../sass/layout/layout.scss */
body.path-news main .layout-content,
body.path-node main .layout-content,
body.path-contact main .layout-content {
  flex: 0 0 75%;
  max-width: 75%;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-right: 25px;
  padding-left: 25px;
}
@media (max-width: 990px) {
  /* line 140, ../sass/layout/layout.scss */
  body.path-news main .layout-content,
  body.path-node main .layout-content,
  body.path-contact main .layout-content {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* line 155, ../sass/layout/layout.scss */
body.path-news main aside,
body.path-node main aside,
body.path-contact main aside {
  margin-top: 133px;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-right: 25px;
  padding-left: 25px;
}
/* line 166, ../sass/layout/layout.scss */
body.path-news main aside .region-sidebar-second,
body.path-node main aside .region-sidebar-second,
body.path-contact main aside .region-sidebar-second {
  border-top: 4px solid #b4ad9e;
}
@media (max-width: 990px) {
  /* line 155, ../sass/layout/layout.scss */
  body.path-news main aside,
  body.path-node main aside,
  body.path-contact main aside {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/*nodes END*/
/*footer*/
/* line 182, ../sass/layout/layout.scss */
footer {
  margin: 100px 0 0 0;
  width: 100%;
  overflow: hidden;
  padding: 0 10%;
  box-sizing: border-box;
}
/* line 190, ../sass/layout/layout.scss */
footer nav {
  float: left;
  margin: 20px 0 0 0;
}
/* line 194, ../sass/layout/layout.scss */
footer nav .menu .menu-item {
  display: inline-block;
}
/* line 200, ../sass/layout/layout.scss */
footer #block-footercreated {
  float: right;
  margin: 25px 0 0 0;
}

@media (max-width: 880px) {
  /* line 212, ../sass/layout/layout.scss */
  footer {
    padding: 0 3rem;
  }
  /* line 215, ../sass/layout/layout.scss */
  footer #block-footercreated {
    float: left;
    margin: 0 0 20px 20px;
    width: 100%;
  }
}
/*footer END*/
/*header*/
/* line 6, ../sass/theme/theme.scss */
header nav .menu .menu-item a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #626262;
}
/* line 12, ../sass/theme/theme.scss */
header nav .menu .menu-item a:hover {
  color: black;
}
/* line 16, ../sass/theme/theme.scss */
header nav .menu .menu-item.menu-item--active-trail a {
  color: black;
  border-bottom: 4px solid #b4ad9e;
}

@media (max-width: 768px) {
  /* line 30, ../sass/theme/theme.scss */
  header nav {
    width: 100%;
  }
  /* line 35, ../sass/theme/theme.scss */
  header #toggle-menu {
    display: block;
    position: absolute;
    top: 30px;
    right: 10%;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  /* line 44, ../sass/theme/theme.scss */
  header #toggle-menu:hover {
    cursor: pointer;
  }
  /* line 49, ../sass/theme/theme.scss */
  header #toggle-menu.close-me span {
    background: #b4ad9e;
  }
  /* line 54, ../sass/theme/theme.scss */
  header #toggle-menu span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #626262;
    border-radius: 3px;
    z-index: 1;
  }

  /* line 66, ../sass/theme/theme.scss */
  header.show-menu {
    height: 160px;
  }
}
/*header END*/
/*global*/
/* line 76, ../sass/theme/theme.scss */
.block-page-title-block h1:before,
.block-block-content h2:before {
  content: "";
  width: 100px;
  height: 4px;
  background: #626262;
  position: absolute;
  margin-top: -8px;
}

/* line 88, ../sass/theme/theme.scss */
aside .item-list li {
  list-style: none;
  margin: 0 0 15px 0;
}

/* line 96, ../sass/theme/theme.scss */
form input {
  width: 100%;
  padding: 4px;
}
/* line 100, ../sass/theme/theme.scss */
form input[type="submit"] {
  width: auto;
  background: #626262;
  color: whitesmoke;
  border: none;
  padding: 4px 10px;
}
/* line 107, ../sass/theme/theme.scss */
form input[type="submit"]:active {
  outline: none;
}

/*global END*/
/*news*/
/* line 120, ../sass/theme/theme.scss */
.node--type-article h2 a {
  text-decoration: none;
}
/* line 123, ../sass/theme/theme.scss */
.node--type-article .field--type-image {
  margin-bottom: 20px;
}
/* line 127, ../sass/theme/theme.scss */
.node--type-article img {
  -webkit-filter: grayscale(75%);
  -moz-filter: grayscale(75%);
  -ms-filter: grayscale(75%);
  -o-filter: grayscale(75%);
  filter: gray;
  -webkit-transition: -webkit-filter 200ms linear;
  transition: filter 200ms linear;
}
/* line 136, ../sass/theme/theme.scss */
.node--type-article img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  cursor: pointer;
}
/* line 146, ../sass/theme/theme.scss */
.node--type-article figcaption {
  margin: 15px 0;
  font-style: italic;
  font-size: inherit;
  padding-left: 30px;
  border-left: 4px solid #b4ad9e;
}
/* line 154, ../sass/theme/theme.scss */
.node--type-article div[property="schema:about"] {
  font-size: 14px;
  line-height: 140%;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #b4ad9e;
}

/*news END */
/*footer*/
/* line 167, ../sass/theme/theme.scss */
footer {
  background: #f0f0f0;
}
/* line 170, ../sass/theme/theme.scss */
footer .region-footer {
  height: 98px;
}
/* line 174, ../sass/theme/theme.scss */
footer nav a {
  margin-right: 25px;
}
/* line 177, ../sass/theme/theme.scss */
footer p,
footer a {
  color: black;
  text-decoration: none;
}

/*footer END*/
