/*global*/
.layout-content {
	margin-top:115px;		
}
/*global END*/


/*header*/
header {
	padding: 0 7rem;	
	overflow: hidden;
	margin: 0 auto;
	position: sticky;
	top:0;
	background: #fff;
	z-index: 999;
	height: 130px;
	transition: 0.5s;
	background: top #fff;

	&.highlight {
		background: $light;			
	}
	

	.block-system-branding-block {
		float: left;			
		margin: 58px 0 0 0;		
		padding: 10px;				
	}


	nav {		
		float: right;		

		.menu {			
			float: right;	
			margin: 65px 0 0 0;				

			.menu-item {	
				
				display: inline-block;				
				margin: 0 0 0 100px;
				text-align: center;				
			}
		}
	}

}


@media(max-width: 990px) {

		header {			
			padding: 0 10%;	
			height: 80px;			
			background: $light;			

			.block-system-branding-block {
				float: left;			
				margin: 20px 0 0 0;								
			}

			nav {
				.menu {							
					margin: 27px 0 0 0;				

					.menu-item {								
						margin: 0 0 0 80px;										
					}
				}
			}

		}
	}


	@media(max-width: 768px) {
		header {			
			nav {	
				.menu {
					.menu-item {								
						margin: 0 0 0 45px;										
					}				
				}
			}
		}
	}

/*header END*/



/*frontpage*/

.path-frontpage {
	.view-display-id-page_front {

		.view-content {
			display: flex;
			    flex-wrap: wrap;
			    margin-right: -15px;
			    margin-left: -15px;			

			.views-row  {	
				position: relative;
			    width: 100%;		  	
			    box-sizing: border-box;
				flex: 0 0 50%;
				max-width: 50%;
				padding-right: 15px;
				padding-left: 15px;
				
				@media(max-width: 990px)  {
					flex: 0 0 100%;
					max-width: 100%;
				}
			}

			
		}
		
	}
}

/*frontpage END*/


/*nodes*/
body.path-news,
body.path-node,
body.path-contact {

	main {
		display: flex;
		    flex-wrap: wrap;
		    margin-right: -15px;
		    margin-left: -15px;	

		.layout-content {
			flex: 0 0 75%;
			max-width: 75%;
				position: relative;
			    width: 100%;		  	
			    box-sizing: border-box;				
				padding-right: 25px;
				padding-left: 25px;

				@media(max-width: 990px) {
					flex: 0 0 100%;
					max-width: 100%;
				}
		}		

		aside {
			
			margin-top: 133px;			
			flex: 0 0 25%;
			max-width: 25%;
				position: relative;
			    width: 100%;		  	
			    box-sizing: border-box;				
				padding-right: 25px;
				padding-left: 25px;

			.region-sidebar-second {
				border-top: 4px solid $light-grey;
			}

				@media(max-width: 990px) {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}

	}	
}
/*nodes END*/


/*footer*/
footer {

	margin: 100px 0 0 0;
	width: 100%;
	overflow: hidden;
	padding: 0 10%;
	box-sizing: border-box;

	nav {
		float: left;
		margin:20px 0 0 0;
		.menu {
			.menu-item {
				display: inline-block;
			}
		}
	}

	#block-footercreated {
		float: right;
		margin:25px 0 0 0;

	}

}



@media(max-width: 880px) {

	footer {	
		padding: 0 3rem;		

		#block-footercreated {
			float: left;
			margin:0 0 20px 20px;
			width: 100%;

		}

	}

	
}

/*footer END*/
