/*header*/
header {
	nav {	
		.menu {			
			.menu-item {							
				a {
				font-size: 14px;
				text-decoration: none;	
				text-transform: uppercase;	
				color: $dark-grey;

					&:hover	 {
						color: $dark;
					}
				}	
			&.menu-item--active-trail a {
					color: $dark;
					border-bottom: 4px solid $light-grey;
			}
			}
		}
	}
}


// mobile menu 
@media(max-width: 768px) {

	header {
		nav {
			width: 100%;
		}

		#toggle-menu
		{
		  display: block;
		  position: absolute;
		  top: 30px;
		  right: 10%;
		  z-index: 1;
		  -webkit-user-select: none;
		  user-select: none;

		  &:hover {
		  	cursor: pointer;
		  }		
		  &.close-me {

		    span {		  
			   background: $light-grey;		  			   
		  	} 
		  }

			 span {			
			       display: block;
			       width: 33px;
			       height: 4px;
			       margin-bottom: 5px;
			       position: relative;
			       background: $dark-grey;
			       border-radius: 3px;
			       z-index: 1;		       			       
			}			
		}
	}
	header.show-menu {
		height: 160px;
	}
}

/*header END*/


/*global*/
	.block-page-title-block h1:before, 
	.block-block-content h2:before {
			content: "";
			width: 100px;
			height: 4px;
			background: $dark-grey;
			position: absolute;
			margin-top:-8px;
	}

	aside {
 
		.item-list {
			li {
				list-style: none;
				margin: 0 0 15px 0;
			}
		}
	}

	form {
		input {
		  width: 100%;
		  padding:4px;
		}
		input[type="submit"] {
			width: auto;
			background: $dark-grey;
			color: $light;
			border: none;
			padding: 4px 10px;

			&:active {
				outline: none;
			}

		}
	}

/*global END*/


/*news*/
.node--type-article  {	
	
	h2 a {
		text-decoration: none;
	}
	.field--type-image {
		margin-bottom: 20px;
	}

	img {			   
	    -webkit-filter: grayscale(75%);
	    -moz-filter:    grayscale(75%);
	    -ms-filter:     grayscale(75%);
	    -o-filter:      grayscale(75%);
	    filter: gray; 
	    -webkit-transition : -webkit-filter 200ms linear;
	    transition : filter 200ms linear;

	    &:hover {
	    filter: none;
	    -webkit-filter: grayscale(0%);
	    -moz-filter:    grayscale(0%);
	    -ms-filter:     grayscale(0%);
	    -o-filter:      grayscale(0%);
	    cursor: pointer;
		}
	}

	figcaption {
		margin: 15px 0;
	    font-style: italic;
	    font-size: inherit;
	    padding-left: 30px;
	    border-left: 4px solid $light-grey;
	}	

	div[property="schema:about"] {
		font-size: 14px;
		line-height: 140%;
		font-family: $font-family-secondary;
		font-weight: $font-weight-light;
		text-transform: uppercase;
		color: $light-grey;
	}
}	
/*news END */


/*footer*/
footer {
	background: $footer-background;
	
	.region-footer {
		height: 98px;
	}

	nav a { margin-right: 25px; }

	p,
	a {
		color: $dark;
		text-decoration: none;		
	}
	
}
/*footer END*/
