/*global*/
/* line 3, ../../sass/layout/frontpage.scss */
.layout-content {
  margin-top: 100px;
}

/*frontpage*/
/* line 13, ../../sass/layout/frontpage.scss */
.path-frontpage .view-display-id-page_front .view-content {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
/* line 19, ../../sass/layout/frontpage.scss */
.path-frontpage .view-display-id-page_front .view-content .views-row {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 37, ../../sass/layout/frontpage.scss */
footer {
  width: 100%;
  overflow: hidden;
}
