/* line 9, ../../sass/layout/simple-grid.scss */
.layout-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 33.75em) {
  /* line 9, ../../sass/layout/simple-grid.scss */
  .layout-container {
    width: 80%;
  }
}
@media only screen and (min-width: 60em) {
  /* line 9, ../../sass/layout/simple-grid.scss */
  .layout-container {
    width: 75%;
    max-width: 60rem;
  }
}

/* line 24, ../../sass/layout/simple-grid.scss */
.row {
  position: relative;
  width: 100%;
}

/* line 29, ../../sass/layout/simple-grid.scss */
.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

/* line 35, ../../sass/layout/simple-grid.scss */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* line 52, ../../sass/layout/simple-grid.scss */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

/* line 56, ../../sass/layout/simple-grid.scss */
.col-1-sm {
  width: 4.33333%;
}

/* line 57, ../../sass/layout/simple-grid.scss */
.col-2-sm {
  width: 12.66667%;
}

/* line 58, ../../sass/layout/simple-grid.scss */
.col-3-sm {
  width: 21%;
}

/* line 59, ../../sass/layout/simple-grid.scss */
.col-4-sm {
  width: 29.33333%;
}

/* line 60, ../../sass/layout/simple-grid.scss */
.col-5-sm {
  width: 37.66667%;
}

/* line 61, ../../sass/layout/simple-grid.scss */
.col-6-sm {
  width: 46%;
}

/* line 62, ../../sass/layout/simple-grid.scss */
.col-7-sm {
  width: 54.33333%;
}

/* line 63, ../../sass/layout/simple-grid.scss */
.col-8-sm {
  width: 62.66667%;
}

/* line 64, ../../sass/layout/simple-grid.scss */
.col-9-sm {
  width: 71%;
}

/* line 65, ../../sass/layout/simple-grid.scss */
.col-10-sm {
  width: 79.33333%;
}

/* line 66, ../../sass/layout/simple-grid.scss */
.col-11-sm {
  width: 87.66667%;
}

/* line 67, ../../sass/layout/simple-grid.scss */
.col-12-sm {
  width: 96%;
}

@media only screen and (min-width: 45em) {
  /* line 70, ../../sass/layout/simple-grid.scss */
  .col-1 {
    width: 4.33333%;
  }

  /* line 71, ../../sass/layout/simple-grid.scss */
  .col-2 {
    width: 12.66667%;
  }

  /* line 72, ../../sass/layout/simple-grid.scss */
  .col-3 {
    width: 21%;
  }

  /* line 73, ../../sass/layout/simple-grid.scss */
  .col-4 {
    width: 29.33333%;
  }

  /* line 74, ../../sass/layout/simple-grid.scss */
  .col-5 {
    width: 37.66667%;
  }

  /* line 75, ../../sass/layout/simple-grid.scss */
  .col-6 {
    width: 46%;
  }

  /* line 76, ../../sass/layout/simple-grid.scss */
  .col-7 {
    width: 54.33333%;
  }

  /* line 77, ../../sass/layout/simple-grid.scss */
  .col-8 {
    width: 62.66667%;
  }

  /* line 78, ../../sass/layout/simple-grid.scss */
  .col-9 {
    width: 71%;
  }

  /* line 79, ../../sass/layout/simple-grid.scss */
  .col-10 {
    width: 79.33333%;
  }

  /* line 80, ../../sass/layout/simple-grid.scss */
  .col-11 {
    width: 87.66667%;
  }

  /* line 81, ../../sass/layout/simple-grid.scss */
  .col-12 {
    width: 96%;
  }

  /* line 83, ../../sass/layout/simple-grid.scss */
  .hidden-sm {
    display: block;
  }
}
