// fonts
$font-family: 'Playfair Display', Georgia, serif;
$font-family-secondary:  'Ubuntu', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

// colors
$light: #f5f5f5;
$dark-grey: #626262;
$light-grey: #b4ad9e;
$footer-background: #f0f0f0;
$dark: #000;

